# Core Dependencies
fastapi==0.115.8
uvicorn==0.34.0
pymongo==4.11.1

# LangChain and OpenAI
langchain==0.3.19
langchain-openai==0.3.7
langgraph==0.2.74
openai==1.64.0

# Tavily Python SDK
tavily-python==0.5.1

# Utilities
pydantic==2.10.6
typing_extensions==4.12.2